<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Online Virtual IDE</title>

	<!-- Bootstrap Core CSS -->
	<link href="{{ url_for('static', filename = 'res/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

	<!-- Custom Fonts -->
	<link href="{{ url_for('static', filename = 'res/vendor/font-awesome/css/font-awesome.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ url_for('static', filename = 'res/css/Montserrat.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ url_for('static', filename = 'res/css/Kaushan.css') }}" rel='stylesheet' type='text/css'>
	<link href="{{ url_for('static', filename = 'res/css/Droid.css') }}" rel='stylesheet' type='text/css'>
	<link href="{{ url_for('static', filename = 'res/css/fontello.css') }}" rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel='stylesheet' type='text/css'>

	<!-- Theme CSS -->
	<link href="{{ url_for('static', filename = 'res/css/agency.css') }}" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
	<![endif]-->

</head>

<body id="page-top" class="index">

	<!-- Navigation -->
	<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
				</button>
				<a class="navbar-brand page-scroll" href="#page-top">Online Virtual IDE</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li class="hidden">
						<a href="#page-top"></a>
					</li>
					<li>
						<a class="page-scroll" href="#services">Features</a>
					</li>
					<li>
						<a class="page-scroll" href="#portfolio">Languages</a>
					</li>
					<li>
						<a class="page-scroll" href="#about">About</a>
					</li>
					<li>
						<a class="page-scroll" href="#team">Team</a>
					</li>
					<li>
						<a href="{{ url_for('static', filename = 'rss/rss.xml') }}">
							<i class="fa fa-rss-square" aria-hidden="true" style="color: orange; /*background-color: white;*/ font-size: 18px;"></i>
						</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<!-- Header -->
	<header>
		<div class="container">

			<div class="intro-text">
				<video loop muted autoplay class="fullscreen-bgvideo" id="vidsource">
					<source type="video/mp4">
				</video>
				<!-- <div class="intro-lead-in">Welcome To Our Website!</div> -->
				<div class="intro-heading">CHOOSE AN ONLINE IDE</div>
				<a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
			</div>
		</div>
	</header>

	<!-- Services Section -->
	<section id="services">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading">Features</h2>
					<h3 class="section-subheading text-muted">Listing features of our project.</h3>
				</div>
			</div>
			<div class="row text-center">
				<!-- <div class="col-md-3">
					<span class="fa-stack fa-4x">
						<i class="fa fa-circle fa-stack-2x text-primary"></i>
						<i class="fa fa-cog fa-stack-1x fa-inverse"></i>
					</span>
					<h4 class="service-heading">Robust</h4>
				</div> -->
				<div class="col-md-3">
					<span class="fa-stack fa-4x">
						<i class="fa fa-circle fa-stack-2x text-primary"></i>
						<i class="fa fa-cog fa-stack-1x fa-inverse"></i>
					</span>
					<h4 class="service-heading">Robust</h4>
				</div>
				<div class="col-md-3">
					<span class="fa-stack fa-4x">
						<i class="fa fa-circle fa-stack-2x text-primary"></i>
						<i class="fa fa-code fa-stack-1x fa-inverse"></i>
					</span>
					<h4 class="service-heading">Portable</h4>

				</div>
				<div class="col-md-3">
					<span class="fa-stack fa-4x">
						<i class="fa fa-circle fa-stack-2x text-primary"></i>
						<i class="fa fa-lock fa-stack-1x fa-inverse"></i>
					</span>
					<h4 class="service-heading">Secure</h4>
				</div>
				<div class="col-md-3">
					<span class="fa-stack fa-4x">
						<i class="fa fa-circle fa-stack-2x text-primary"></i>
						<i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
					</span>
					<h4 class="service-heading">Easy to use </h4>
				</div>
			</div>
		</div>
	</section>

	<!-- Portfolio Grid Section -->
	<section id="portfolio" class="bg-light-gray">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading">LANGUAGES</h2>
					<h3 class="section-subheading text-muted">Choose a language you want to learn.</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6 portfolio-item">
					<a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<i class="fa fa-play fa-3x"></i>
							</div>
						</div>
						<img a_src="{{ url_for('static', filename = 'res/img/logos/C.jpg') }}" class="img-responsive" alt="">
					</a>
					<div class="portfolio-caption">
						<h4>C</h4>
						<p class="text-muted">Efficiency</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 portfolio-item">
					<a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<i class="fa fa-play fa-3x"></i>
							</div>
						</div>
						<img a_src="{{ url_for('static', filename = 'res/img/logos/Java.jpg') }}" class="img-responsive" alt="">
					</a>
					<div class="portfolio-caption">
						<h4>Java</h4>
						<p class="text-muted">Robust</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 portfolio-item">
					<a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<i class="fa fa-play fa-3x"></i>
							</div>
						</div>
						<img a_src="{{ url_for('static', filename = 'res/img/logos/Python.jpg') }}" class="img-responsive" alt="">
					</a>
					<div class="portfolio-caption">
						<h4>Python</h4>
						<p class="text-muted">Easy</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- About Section -->
	<section id="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading">About</h2>
					<h3 class="section-subheading text-muted">This is our timeline.</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<ul class="timeline">
						<li>
							<div class="timeline-image">
								<img class="img-circle img-responsive" a_src="{{ url_for('static', filename = 'res/img/about/1.jpg') }}" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4>August 2014</h4>
									<h4 class="subheading">Our Humble Beginnings</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">It all started here. We paid &#x20b9; 60k each to get into this college, thanks to our luck and hardwork. This is our 6th sem project, which means our first 5 semesters are over.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image">
								<img class="img-circle img-responsive" a_src="{{ url_for('static', filename = 'res/img/about/2.jpg') }}" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4>2014</h4>
									<h4 class="subheading">An Agency is Born</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">It turns out that many want to depend on online virtual IDEs since they all had only Windows 10 and not Ubuntu, so we started brainstorming for ideas and after a heated discussion about a lot of technologies and ideas we proceeded to help someone do their SAN project on SCSI initiator.</p>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-image">
								<img class="img-circle img-responsive" a_src="{{ url_for('static', filename = 'res/img/about/3.jpg') }}" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4>December 2016</h4>
									<h4 class="subheading">Transition to Full Service</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Now we proceed to convert coffee to code and we got a big punch to it. After this was done whatever punch I talked about was non-existent and we had to complete even CD project as well.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image">
								<img class="img-circle img-responsive" a_src="{{ url_for('static', filename = 'res/img/about/4.jpg') }}" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4>January 2017</h4>
									<h4 class="subheading">Phase Two Expansion</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Ok we have to expand and both the Shreyas'h's are gonna edit these lines I wrote anyway, so live as long as you can live. That didn't come out right I think.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image">
								<h4>Be Part
									<br>Of Our
									<br>Story!</h4>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<!-- Team Section -->
	<section id="team" class="bg-light-gray">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading">Our Amazing Team</h2>
					<h3 class="section-subheading text-muted">The three musketeers</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="team-member">
						<img a_src="{{ url_for('static', filename = 'res/img/team/1.jpg') }}" class="img-responsive img-circle" alt="">
						<h4>Shreyas Rao</h4>
						<p class="text-muted">Lead Designer</p>
						<ul class="list-inline social-buttons">
							<li><a href="#"><i class="fa fa-github"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-stack-overflow"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="team-member">
						<img a_src="{{ url_for('static', filename = 'res/img/team/2.jpg') }}" class="img-responsive img-circle" alt="">
						<h4>Shreyash S Sarnayak</h4>
						<p class="text-muted">Lead Developer</p>
						<ul class="list-inline social-buttons">
							<li><a href="#"><i class="fa fa-github"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-stack-overflow"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="team-member">
						<img a_src="{{ url_for('static', filename = 'res/img/team/3.jpg') }}" class="img-responsive img-circle" alt="">
						<h4>Siddharth Srinivasan</h4>
						<p class="text-muted">Lead Backend Developer</p>
						<ul class="list-inline social-buttons">
							<li><a href="#"><i class="fa fa-github"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-stack-overflow"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<span class="copyright">Copyright &copy; OVIDE 2017</span>
				</div>
				<div class="col-md-4">
					<ul class="list-inline social-buttons">
						<li><a href="#"><i class="fa fa-twitter"></i></a>
						</li>
						<li><a href="#"><i class="fa fa-facebook"></i></a>
						</li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a>
						</li>
					</ul>
				</div>
				<div class="col-md-4">
					<ul class="list-inline quicklinks">
						<li><a href="#">Privacy Policy</a>
						</li>
						<li><a href="#">Terms of Use</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

	<!-- Portfolio Modals -->
	<!-- Use the modals below to showcase details about your portfolio projects! -->

	<!-- Portfolio Modal 1 -->
	<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl">
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
							<div class="modal-body">
								<!-- Project Details Go Here -->
								<h2>C</h2>
								<p class="item-intro text-muted">General-purpose efficient language.</p>
								<img class="img-responsive img-centered" a_src="{{ url_for('static', filename = 'res/img/logos/C.jpg') }}" alt="">
								<p>
									C is a general-purpose, imperative computer programming language, supporting structured programming, lexical variable scope and recursion, while a static type system prevents many unintended operations. By design, C provides constructs that map efficiently to typical machine instructions, and therefore it has found lasting use in applications that had formerly been coded in assembly language, including operating systems, as well as various application software for computers ranging from supercomputers to embedded systems.</p>
								<ul class="list-inline">
									<li>Date: 1972</li>
									<li>Paradigm: Procedural</li>
								</ul>
								<!-- <a type="button" class="btn btn-primary" href="/learn/c"> Learn more</a> -->
								<a type="button" class="btn btn-primary" href="/editor/c"> Start coding</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Portfolio Modal 2 -->
	<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl">
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
							<div class="modal-body">
								<h2>Java</h2>
								<p class="item-intro text-muted">Robust platform-independent language.</p>
								<img class="img-responsive img-centered" a_src="{{ url_for('static', filename = 'res/img/logos/Java.jpg') }}" alt="">
								<p>Java is a general-purpose computer programming language that is concurrent, class-based, object-oriented, and specifically designed to have as few implementation dependencies as possible. It is intended to let application developers "write once, run anywhere" (WORA), meaning that compiled Java code can run on all platforms that support Java without the need for recompilation. Java applications are typically compiled to bytecode that can run on any Java virtual machine (JVM) regardless of computer architecture.</p>
								<ul class="list-inline">
									<li>Date: 1995</li>
									<li>Paradigm: Object Oriented</li>
								</ul>
								<a type="button" class="btn btn-primary" href="/editor/java"> Start coding</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Portfolio Modal 3 -->
	<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl">
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
							<div class="modal-body">
								<h2>Python</h2>
								<p class="item-intro text-muted">High level simple language.</p>
								<img class="img-responsive img-centered" a_src="{{ url_for('static', filename = 'res/img/logos/Python.jpg') }}" alt="">
								<p>Python is a widely used high-level programming language for general-purpose programming, created by Guido van Rossum. An interpreted language, Python has a design philosophy which emphasizes code readability (notably using whitespace indentation to delimit code blocks rather than curly braces or keywords), and a syntax which allows programmers to express concepts in fewer lines of code than possible in languages such as C++ or Java. The language provides constructs intended to enable writing clear programs on both a small and large scale.</p>
								<a type="button" class="btn btn-primary" href="/editor/python"> Start coding</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- jQuery -->
	<script src="{{ url_for('static', filename = 'res/vendor/jquery/jquery.min.js') }}"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="{{ url_for('static', filename = 'res/vendor/bootstrap/js/bootstrap.min.js') }}"></script>

	<!-- Plugin JavaScript -->
	<script src="{{ url_for('static', filename = 'res/js/jquery.easing.min.js') }}"></script>

	<!-- Contact Form JavaScript -->
	<script src="{{ url_for('static', filename = 'res/js/jqBootstrapValidation.js') }}"></script>
	<script src="{{ url_for('static', filename = 'res/js/contact_me.js') }}"></script>

	<!-- Theme JavaScript -->
	<script src="{{ url_for('static', filename = 'res/js/agency.js') }}"></script>

	<script type="text/javascript">
		// console.log('enoawienf');
		setTimeout(function () {
			//  src="{{ url_for('static', filename = 'res/video/ovide_intro.mp4') }}"
			// console.log('awotfn', "{{ url_for('static', filename = 'res/video/ovide_intro.mp4') }}");
			$('#vidsource').attr('src', "{{ url_for('static', filename = 'res/video/ovide_intro.mp4') }}")
		}, 750);

		setTimeout(function () {
			//  src="{{ url_for('static', filename = 'res/video/ovide_intro.mp4') }}"
			var jimp = $('img');
			for (var i = jimp.length - 1; i >= 0; i--) {
				$(jimp[i]).attr('src', $(jimp[i]).attr('a_src'));
			}
		}, 500);
	</script>

</body>

</html>
