<ul>
    <li class="isFolder isExpanded" title="Bookmarks">
        C
        <ul>
            <li onClick="tutor(event)">tutorial1.c</li>
            <li onClick="tutor(event)">tutorial2.c</li>
        </ul>
    </li>
    <li class="isFolder isExpanded" title="Bookmarks">
        Java
        <ul>
            <li onClick="tutor(event)">tutorial1.java</li>
            <li onClick="tutor(event)">tutorial2.java</li>
        </ul>
    </li>
    <li class="isFolder isExpanded" title="Bookmarks">
        Python
        <ul>
            <li onClick="tutor(event)">tutorial1.py</li>
            <li onClick="tutor(event)">tutorial2.py</li>
        </ul>
    </li>
</ul>
